<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="col-md-12">
         <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
				<th></th>
			</tr>
            </thead>
            <tbody>
				<%sensors.forEach(function(sensor){%>
				<tr>
					<td><%= sensor.name %></td>
					<td><%= sensor.id %></td>
					<td><%= sensor.type %></td>
					<td><%= sensor.status %></td>
					<td> <button type="button" class="btn btn-sm btn-primary">Edit</button> </td>
					<td> <button type="button" class="btn btn-sm btn-danger">Unpair</button> </td>
				</tr>
				<%});%>
            </tbody>
          </table>
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>