<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://'+document.location.hostname+':'+document.location.port);
		socket.on('refresh', function (data) {
			console.log('socket received');
			location.reload();
		});
	</script>

</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="col-md-10">
         <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
			</tr>
            </thead>
            <tbody>
				<%sensors.forEach(function(sensor){%>
					<tr>
						<td><%=sensor.id%></td>
						<td><%=sensor.type%></td>
						<td><%=sensor.status%></td>
						<td> <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/pair/<%=sensor.id%>';">Pair</button> </td>
					</tr>
				<%});%>
            </tbody>
          </table>
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>